body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #002;
  color: #fff;
}

a {
  color: #00B7FF;
}

h1 {
  margin: 20px;
  color: #ffffff;
}

.jumbotron {
  background-color: transparent;
  letter-spacing: 4px;
}

